@mixin anchorBtn($color, $background-color, $border-color) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color;
  padding-inline: 3px;
  padding-block: 4px;
  min-width: 100%;
  border-radius: 4px;
  user-select: none;
  border: 1px solid $border-color;
  background-color: $background-color;
}

@mixin button(
  $color,
  $background-color,
  $border-color,
  $background-color-hover
) {
  color: $color;
  padding-inline: 15px;
  padding-block: 8px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid $border-color;
  background-color: $background-color;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $background-color-hover;
  }
}

@mixin keyframes-animation($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin small {
  @media (max-width: 1000px) {
    @content;
  }
}
