$font-color: #a1a7b2;
$font-color-100: #a1a7b2;
$font-color-200: #445065;
$background-color-primary: #ffffff;
$background-color-secondary: #002276;
$input-box-shadow: inset 0 0 4px 0 #09f;
$link-color: #0089e5;
$color-hover-100: #09f;
$color-hover-200: #16253f;
$error-color: #f24220;
$error-background-color: #fce6e2;
