@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  margin: auto;
  padding-inline: 20px;
  > h1 {
    text-align: center;
    width: 100%;
    padding-inline: 10px;
    padding-block: 10px;
    align-items: center;
    font-size: clamp(32px, 8.8vw, 80px);
    .user {
      display: block;
      font-size: clamp(14px, 5.8vw, 50px);
    }
  }
  .logout-btn {
    max-width: 240px;
    @include button(
      $background-color-primary,
      $background-color-secondary,
      transparent,
      $color-hover-100
    );
    &:focus {
      outline: 1px solid transparent;
      background-color: $color-hover-100;
    }
  }
}
