@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  @include small {
    grid-template-columns: 1fr;
  }

  .section-left,
  .section-right {
    padding-inline: 14px;
  }

  .section-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color-secondary;
    gap: 20px;
    @include small {
      display: none;
    }
  }

  .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
