@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  @include small {
    grid-template-columns: 1fr;
  }

  .section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color-secondary;
    padding-inline: 15px;
    padding-block: 15px;
    .img-caption {
      color: #ffffff;
      width: 100%;
      text-align: center;
      font-size: 18px;
      margin-block-start: 40px;
    }
    @include small {
      display: none;
    }
  }
  .section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
