@import "../../sass/abstracts/variables";

.message-container {
  background-color: #fce6e2;
  margin-block-end: 16px;
  padding-inline: 8px;
  padding-block: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: $font-color-200;
  width: 100%;
  .message-text {
    font-size: 16px;
  }
}
