@import "../../sass/abstracts/mixins";

.carousel__contents {
  .carousel__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffff;
    font-size: 32px;
    animation: fadeIn 1s ease-in-out;
    @include keyframes-animation(fadeIn) {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &.inactive {
      display: none;
    }

    img {
      margin: auto;
    }

    figcaption {
      text-align: center;
    }
  }
}

.carousel__dots {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .carousel__dot {
    width: 100%;
    transition: all 0.5s ease-in-out;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
    }
  }
  .carousel__dot--active {
    background-color: #ffffff;
  }
}
